.nigger{width: auto; height: auto; background-color: #FFA6C9; }
.sidenigger{width: 100%; height: 200; background-color: #b0e0e6;}
.sideniggerjr{
    height: 200px;
    background-color: mediumspringgreen;
    width: 20%;
    float: left;
    margin-left: 4%;
    }
.centerniggerwrapper{width: 100%; height: 700; background-color: lawngreen;}
.centernigger{ margin-top: 1.5%; font-size: 2em; width: 30%; height: 300; background-color: indigo;  margin-left: 3%; float: left;}
.smallnigger{font-style: italic; font-size: xx-large; width: 80%; height: 65%; background-color: maroon; margin-left: 10%; text-shadow: lightcyan;}
.centernigger2{font-size: 5em; width: 30%; height: 300; background-color: indigo;  margin-left: 3%; float: left; margin-top: 2%;}